NODE_ENV=development

APP_PORT=8080
APP_HOST=localhost

CORS_ORIGINS=*
CORS_ENABLED=true

PASSWORD_SALT=10

ACCESS_TOKEN_SECRET=8dd01584-c5e4-4b26-a739-bde7be7ba9c9
# 15m
ACCESS_TOKEN_TTL_SECONDS=900

REFRESH_TOKEN_SECRET=18c68837-a93f-455e-a3c7-6e1aab2dd7e3
# 7d
REFRESH_TOKEN_TTL_SECONDS=604800

# 30d
SESSION_TTL_SECONDS=2592000

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=wallet_platform
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
